{% extends "layouts.html" %}

{% set title = "Cadastrar ponto de coleta" %}

{% block styles %}
    <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/responsive-create-point.css">
{% endblock styles %}

{% set page = "page-create-point" %}

{% set home = "Voltar para a home" %}

{% set route = "/" %}

{% block content %}
    <form action="" method="">
            <h1>Cadastro do ponto de coleta</h1>

            <div id="contact">
                <h2>Dados da entidade</h2>
                
                <div id="campos">
                    <fieldset>
                        <label for="name">
                            <legend>Nome da entidade</legend>
                            <input type="text" name="name">
                        </label>
                    </fieldset>

                    <div class="field-group">
                        <fieldset id="cep">
                            <label for="cep">
                                <legend>Cep</legend>
                                <input type="number" name="cep">
                            </label>
                        </fieldset>

                        <fieldset id="image">
                            <label for="imagem">
                                <legend>Imagem</legend>
                                <input type="text" name="imagem" placeholder="URL da Imagem">
                            </label>
                        </fieldset>
                    </div>

                    <div class="field-group">
                        <fieldset disabled>
                            <label for="estado">
                                <legend>Estado</legend>
                                <select name="state" id="state">
                                    <option value="">Estado</option>
                                </select>
                            </label>
                        </fieldset>

                        <fieldset disabled>
                            <label for="cidade">
                                <legend>Cidade</legend>
                                <select name="city" id="city">
                                    <option value="">Cidade</option>
                                </select>
                            </label>
                        </fieldset>
                    </div>

                    <div class="field-group">
                        <fieldset>
                            <label for="endereco">
                                <legend>Endereço</legend>
                                <input type="text" name="endereco">
                            </label>
                        </fieldset>

                        <fieldset id="number">
                            <label for="numero">
                                <legend>Número</legend>
                                <input type="number" name="numero">
                            </label>
                        </fieldset>
                    </div>
                </div> 
            </div>

            <div id="items">
                <div id="title">
                    <h2>Itens de coleta</h2>
                    <p>Selecione um ou mais itens</p>
                </div>

                <ul value="">
                    <li>
                        <div>
                            <img src="assets/lampadas.svg" alt="Lâmpadas">
                            <p>Lâmpadas</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/baterias.svg" alt="Pilhas e Baterias">
                            <p>Pilhas e baterias</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/papeis-papelao.svg" alt="Papéis e papelão">
                            <p>Papéis e papelão</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                            <p>Resíduos Eletrônicos</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/organicos.svg" alt="Resíduos orgânicos">
                            <p>Resíduos orgânicos</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/oleo.svg" alt="Óleo de Cozinha">
                            <p>Óleo de Cozinha</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <button>Cadastrar ponto de coleta</button>
        </form>
{% endblock content %}
        
{% block scripts %}
    <script src="scripts/create-point.js"></script>
{% endblock scripts %}

