{% extends "layouts.html" %}

{% set title = "Ecoleta: O seu marketplace de coleta de resíduos" %}

{% block styles %}
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/responsive-home.css">
{% endblock styles %}

{% set page = "page-home" %}

{% set home = "Cadastre um pontos de coleta" %}

{% set route = "/create-point" %}

{% block background %}
        <img src="assets/home-background.svg" alt="Ilustração de fundo" id="background-image">
{% endblock background %}

{% block content %}
    <section>
        <main>
            <h1>Seu marketplace de coleta de resíduos</h1>
            <h3>Ajudamos pessoas a encontrarem um ponto de coleta de forma eficiente.</h3>
            <button>
                <img src="assets/search.svg" alt="Pesquisar">
                <h4>Pesquisar um local de coleta</h4>
            </button>  
        </main>
    </section>

    <footer>
        <a class="log-in" href="/create-point">
            <img src="assets/log-in.svg" alt="Log-in">
            <h3>Cadastre um pontos de coleta</h3>
        </a> 
    </footer>
{% endblock content %}

{% block modal %}
    <form id="search" action="/search-results" method="GET">
        <div id="content">
            <div id="top">
                <h1>Pontos de coleta</h1>
                <img src="assets/x.svg" alt="Fechar">
            </div>

            <div id="search-bar">
                <input type="text" name="search" placeholder="Digite aqui sua cidade" required>
                <button id="img">
                    <img src="assets/search.svg" alt="Pesquisar">
                </button>
                
            </div>
        </div>
    </form>
{% endblock modal %}

{% block scripts %}
    <script src="scripts/home.js"></script>
{% endblock scripts %}
