<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    
    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="assets/logo-favicon.svg" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block background %}
    {% endblock background %}
    

    <div id="{{ page }}">

        <header>
        <img src="/assets/logo.svg" alt="Ecoleta-logo" id="logo">
        <a class="log-in" href="{{ route }}">
            <img src="assets/log-in.svg" alt="Log-in">
            <h3>{{ home }}</h3>
        </a> 
        </header>
        
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
    <script src="nunjucks.js"></script>
    
</body>
</html>