body{
    background-color: var(--background-color);
}

#background-image{
    display: none;
}

#page-home{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

#page-home header .log-in{
    display: none;
}

#page-home header img#logo{
    display: block;
    width: 40vw;
    margin: 0 auto;
}

#page-home header .log-in h3{
    transition: color 300ms;
}

#page-home header .log-in h3:hover{
    color: var(--dark-green);
    transition: color 300ms;
}

#page-home header .log-in h3:active{
    color: var(--focus-green);
}

#page-home section main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-home section main h1{
    font-size: 9.5vw;
    margin-bottom: 5vw;
}

#page-home section main h3{
    width: 90%;
    font-size: 4vw;
    font-weight: 300;
    margin-bottom: 5vw;
}

#page-home section main button{
    display: flex;
    background-color: var(--light-green);
    border-radius: 2vw;
    transition: background-color 300ms;
}

#page-home section main button:hover{
    background-color: var(--focus-green);
    outline: none;
    cursor: pointer;
    transition: background-color 300ms;
}

#page-home section main button img{
    background-color: var(--dark-green);
    width: 5vw;
    padding: 4vw;
    border-radius: 2vw 0 0 2vw;
}

#page-home section main button h4{
    margin: auto auto;
    color: white;
    font-size: 4vw;
}

#page-home footer{
    display: flex;
    margin: 0 auto;
}

#page-home footer a{
    display: flex;
}

#page-home footer img{
    margin-right: 5px;
    width: 5vw;
}

#page-home footer h3{
    font-size: 4vw;
    margin: auto 0;
    font-size: 3vw;
    font-weight: 300;
}

#search {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.842);
}

#search #content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

#content #top{
    display: flex;
    margin-bottom: 2vw;
}

#content #top h1{
    font-size: 8vw;
    margin: auto;
    color: white;
}

#content #top img{
    margin-top: auto;
    width: 4vw;
}

#content #search-bar{
    display: flex;
    box-sizing: border-box;
}

#content #search-bar input{
    width: 100%;
    height: 12vw;
    border-radius: 1vw 0 0 1vw;
    outline: none;
    font-size: 6vw;
    padding: 0 2vw;
}

#content #search-bar #img{
    width: 12vw;
    height: 12vw;
    background-color: var(--dark-green);
    border-radius: 0 1vw 1vw 0;
}

#content #search-bar #img:hover{
    cursor: pointer;
    background-color: var(--light-green);
}

#content #search-bar #img:active {
    background-color: var(--focus-green);
}

#img img{
    position: relative;
    width: 6vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}